.footer {
    align-items: flex-end;
    background-color: $white;
    display: flex;
    justify-content: center;
    padding: ($padding * 2) 0;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &__text {
        color: $secondary-color;
        text-align: center;
    }
}