.header {
    align-items: center;
    background-color: $white;
    display: flex;
    padding: ($padding * 2) 0;
    justify-content: center;

    img {
        border-radius: 50px;
        height: 80px;
        margin: 8px;
        width: auto;
    }

    a {
        align-items: center;
        display: flex;
        text-decoration: none;
    }

    h1 {
        color: $primary-color;
        text-transform: uppercase;
    }
}