.notFound {
    align-items: center;
    display: flex;
    justify-content: center;

    h1 {
        font-size: $base-font-size * 3;
        text-transform: uppercase;
        color: $white;
    }
}