// colors
$primary-color: #5D3988;
$secondary-color: #A569BD;
$white: #ffffff;

// padding
$padding: 8px;

// font-weight
$bold: 700;

$base-font-size: 20px;

body {
    // background-color: #5D3988;
    background-color: $primary-color;
}

.container {
    margin: 0px auto;
    max-width: 1200px;
    width: calc(100% - 30px);
}